.list-item {
    font-size: 22px;
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    width: 240px;
    text-align: center;
    justify-content: center;
    margin: 7px 12px;
}

.list-item:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.clicked {
    background-color:gold;
}
.page {
    display: flex;
}
.card {
    margin-left: 20px;
}
.card-description {
    display: flex;
    flex-direction: column;
}

.avatar {
    margin: 37px 0 5px 0;
}
p {
    margin: 2px 0 2px;
}